<<<<<<< HEAD
<%- include('partials/html-start.ejs') %>

<h1>Welcome World from EJS.</h1>

<p>I'm Ayman Alluhaybi</p>



<p>I <%= myTypeClient %> in This Semester.</p>

<form method="get" action="/name">
  <p>Tell us your name! Or something: </p>
  <input type="text" name="ejsFormName" value="<%= myTypeClient %>">
  <input type="submit">
</form>
<button class="btn btn-primary">Bootstrap working?</button>
<footer>
  Sent from a file on my node server, <a href="https://github.com/aalluhaybi1/LAB-PAPA-486.git" target="_blank">Source Code</a>
</footer>



<%- include('partials/html-end.ejs') %>
=======
<h1>Welcome</h1>

<p> I'm Ayman Alluhaybi

<li>I <%= myTypeClient %>in This Semster</li>

</p>

<footer> sent from a file on my node server, <a href="https://github.com/aalluhaybi1/LAB-PAPA-486.git"target="_blank">Source Code</a>
</footer>

<a href="/send">send</a>
<button class="btn btn-primary">boostrap working?</button>

<!-- <%- include('partials/html-end.ejs') %> -->

>>>>>>> 77fe1f31bd041a90675255fd9e38bcb58e49e78b
